.contact {
  padding-bottom: 104px;
}

.contact__information {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__section {
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  &:hover {
    transform: scale(1.15);
  }
}

.contact__social {
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;

  align-items: center;

}

/* CAMBIAR NOMBRE DE VARIABLE CSS */
.contact__text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact__icon {
  width: 32px;
  height: 32px;
  margin-right: 1.6rem;
}

.contact__find {
  display: flex;
  flex-direction: row;
  padding-left: 1.6rem;

}


.contact__icon-follow {
  padding-left: 1.6rem;
  width: 65px;
  height: 50px;
  margin-right: 1.6rem;
  transition: background-color 0.3s ease;
  &:hover {
    transform: scale(1.15);
  }
}

@media (max-width: 768px){
  .contact__section {
    &:hover {
      transform: none
    }
  }
}
