/* NAVBAR */

.header {
  width: 100%;
  height: 12vh;
  background-color: var(--color-gray);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav {
  padding: 0;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
}

.nav__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.nav__title--text {
  color: var(--color-white);
  font-size: 2.4rem;
}

.nav__logo {
  width: 100px;
  height: 60px;
  margin-right: 20px;
}

.nav__list {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
  padding-right: 50px;
  position: relative;
  list-style: none;
}

.submenu {
  position: absolute;
  padding-top: 30px;
  top: 100%;
  left: 0;
}

.submenu__container {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray);
  border-radius: 1.5rem;
  color: var(--color-black);
  width: 300px;
  padding: 0;
  border: 2px solid var(--color-white);
}

.submenu__link {
  font-size: 2rem;
  color: var(--color-white);
  text-decoration: none;
  transition: border-bottom 0.1s ease, color 0.3s ease;
  text-align: center;
  padding: 16px;
  &:hover {
    border-bottom: 5px solid var(--color-interactive);
  }
}

.submenu-mobile {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  padding: 36px 0;
  text-align: center;
}

.submenu__giss-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.submenu__logo-mobile {
  width: 175px;
  height: 100px;
}

.submenu__title-mobile {
  font-size: 2.4rem;
  color: var(--color-white);
  margin: 0;
}

.submenu__options-mobile {
  display: flex;
  flex-direction: column;
}

.submenu__links-mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  color: var(--color-white);
  text-decoration: none;
  padding: 24px;

}
.quote__container-mobile{
  width: 100%;
    
}

.quote__text-mobile{
  font-size: 1.3rem;
  color: var(--color-white);
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 2rem;
  color: var(--color-white);
  text-decoration: none;
  transition: border-bottom 0.1s ease, color 0.3s ease;

  &:hover {
    border-bottom: 5px solid var(--color-interactive);
  }
}

.nav__menu {
  width: 35px;
  color: #ffffff;
  display: none;
}

.nav__button {
  font-size: 2rem;
  text-decoration: none;
  padding: 0.6rem 1.4rem;
  border: 0.2rem solid var(--color-white);
  border-color: var(--color-white);
  border-radius: 1.5rem;
  background-color: var(--color-gray);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    transform: scale(1.15);
  }
}

.contact__nav {
  display: none;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  .nav {
    width: 90%;
    justify-content: space-between;
  }

  .nav__logo {
    width: 80px;
    height: 50px;
    margin-right: 0;
  }

  .nav__list {
    display: none;
  }

  .nav__title--text {
    display: none;
  }

  .nav__menu {
    display: block;
  }

  .nav__button {
    font-size: 1.8rem;
    margin: 0 32px 0 auto;
    padding: 0.3rem 1.4rem;
    &:hover {
      transform: none;
    }
    &:active {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }
}
