/* HERO */

.hero {
  width: 100%;
  height: 56vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url("../../Images/Hero.png");
  background-size: cover;
  z-index: -1;
}

.hero__title {
  margin: 0;
  font-size: 7.2rem;
  letter-spacing: 2.4px;
  color: var(--color-white);
  text-align: center;
}

.hero__paragraph {
  width: 100%;
  margin: 0;
  font-size: 3.2rem;
  letter-spacing: 7.2px;
  color: var(--color-white);
  padding-bottom: 4rem;
  text-align: center;
}

/* SERVICE ICONS */

.service__icons {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 104px;
}

.icon {
  width: 150px;
}

/* KNOWLEDGE */

.knowledge {
  background-color: #f2f7fd;
  opacity: 1;
  background-image: radial-gradient(#bad5f1 1.55px, transparent 1.55px),
    radial-gradient(#bad5f1 1.55px, #f2f7fd 1.55px);
  background-size: 62px 62px;
  background-position: 0 0, 31px 31px;
  overflow: hidden;
}
.knowledge__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0 48px 0;
}

/* INFORMATION */

.information {
  display: flex;
  display: row;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.information__read {
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.information__readmore {
  font-size: 2rem;
  font-weight: 600;
  margin-left: auto;
  color: var(--color-interactive);
  text-decoration: none;
  margin-left: auto;
  padding: 8px 0 32px 0;
  text-decoration: underline;
}

.information__video {
  display: flex;
  justify-content: center;
}

.information__iframe {
  border-radius: 20px;
  max-width: 100%; /* El ancho del video no puede superar el ancho del contenedor */
  max-height: 100%; /* La altura del video no puede superar la altura del contenedor */
}

.information__text {
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
  .hero__title {
    width: 90%;
    font-size: 4.0rem;
  }

  .hero__paragraph {
    width: 90%;
    font-size: 2.2rem;
    letter-spacing: 5.6px;
  }

  /* SERVICE ICONS */

  .service__icons {
    width: 80%;
    grid-template-columns: none;
    gap: 56px;
    margin: 0 auto;
    text-align: center;
  }

  .icon {
    width: 125px;
  }

  /* INFORMATION */
  .information {
    flex-direction: column;
  }

  .information__read {
    padding-right: 0px;
  }

  .information__readmore {
    font-size: 1.8rem;
  }

  /* CONTACT */
  .contact {
    flex-direction: column;
  }

  .map__container {
    padding-top: 32px;
  }
}
