/* HERO */

.hero {
  width: 100%;
  height: 56vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url("../../Images/Hero.png");
  background-size: cover;
  z-index: -1;
}

.hero__title {
  margin: 0;
  font-size: 7.2rem;
  letter-spacing: 2.4px;
  color: var(--color-white);
  text-align: center;
}

.hero__paragraph {
  width: 100%;
  margin: 0;
  font-size: 3.2rem;
  letter-spacing: 7.2px;
  color: var(--color-white);
  padding-bottom: 4rem;
  text-align: center;
}

/* SERVICE ICONS */

.service__icons {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 0 auto;
  text-align: center;
}

.icon {
  width: 150px;
}

.service__container {
  text-align: start;
}

/* KNOWLEDGE */

.knowledge {
  background-color: #F2F7FD;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #eaebfd 25%, transparent 25%), linear-gradient(225deg, #eaebfd 25%, transparent 25%), linear-gradient(45deg, #eaebfd 25%, transparent 25%), linear-gradient(315deg, #eaebfd 25%, #F2F7FD 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  overflow: hidden;

}

.knowledge__container {
  display: flex;
  justify-content: center;
}

/* SERVICES */

.services {
  width: 100%;
  height: 100vh;
  background-color: #e1e3e6;
}

.information__video {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.information__text {
  display: flex;
  flex-direction: column;
}

.information__readmore {
  font-size: 1.1rem;
  margin-left: auto;
  color: var(--color-interactive);
  text-decoration: none;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
  .hero__title {
    font-size: 4.9rem;
  }


  .hero__paragraph {
    font-size: 2.4rem;
    letter-spacing: 5.6px;
  }


  .information__container {
    flex-direction: column;
  }

  .information__icons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex: 1;
  }
}