.services {
  padding: 52px 0;
}

.service__tab {
  display: flex;
  flex-direction: column;
}

.service__principal {
  padding-bottom: 3.2rem;
}

.service__extras {
  height: 100%;
}

.accordion__container{
    padding-top: 1.6rem;
}

.service__quote{
  display: flex;
  background-color: #F2F7FD;
  width: 100%;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 768px) {

}
